html {
  box-sizing: border-box;
  font-family: Helvetica, Verdana;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 50px 20px;
  background-color: #f7fff7;
}

.container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 100%;
  grid-auto-rows: 48px;
  grid-auto-columns: 100px;
  width: fit-content;
}

.container>* {
  border-radius: 3px;
}

.line, .head {
  /* border: 1px solid rgba(0, 0, 0, 0); */
  display: grid;
  border-radius: 3px;
  font-weight: bold;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr 50px;
  grid-template-rows: auto;
  grid-column-gap: 3px;
  /* background-color: paleturquoise; */
}

.header, .line input {
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 110px;
  text-overflow: clip;
  overflow: hidden;
  padding: 5px;
  margin-right: 0px;
  margin-left: 0px;
  border: 1px solid rgb(78, 205, 196);
  border-radius: 3px;
}

.head {
  background-color: rgba(0, 0, 0, 0);
  font-size: 17px;
}

.header {
  background-color: paleturquoise;
  border: 1px solid rgba(52, 139, 133, 0.5);
  /* border-bottom: none; */
}

.header:first-of-type, .line input:first-of-type {
  margin-left: 1px;
}

.header:last-of-type, .line input:last-of-type {
  margin-right: -1px;
}

.line input, .head input, .cookedWeight, .wareWeight, .cookware {
  font-size: 1.4em;
}

.line button, .head button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(52, 139, 133, 0.5);
  border-radius: 4px;
  /* font-size: 2em; */
  outline: none;
  margin: 0;
  padding: 0;
  /* height: 46px; */
}

button.addWare {
  color: rgba(52, 139, 133, 1);
  vertical-align: middle;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  /* font-size: 56px; */
}

.line>div {
  background-color: #f7fff7;
  border: 1px solid rgb(78, 205, 196);
  border-radius: 3px;
}

.line>* {
  min-width: 110px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 2px solid rgb(78, 205, 196);
  border-radius: 5px;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0);
  color: #4ecdc4;
  min-width: 50px;
  padding: 5px;
  /* margin: 5px 5px 0 0; */
  outline: none;
}

.removeLine {
  min-width: 10px;
  background-color: #f7fff7 !important;
  /* margin-top: 1px !important; */
}

.new-line {
  margin-top: 10px;
  font-size: 2.5rem;
}

.material-icons {
  vertical-align: middle;
  font-size: 36px;
}

.mi-clear {
  color: rgba(52, 139, 133, 1);
  font-size: 46px;
}

button.menu {
  margin-top: 1px;
}

.mi-menu {
  color: rgba(52, 139, 133, 1);
  font-size: 44px;
  /* margin-top: 5px; */
}

.results {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 48px;
  grid-auto-columns: 100px;
  grid-row-gap: 3px;
  margin-top: 3px;
  /* background-color: aliceblue; */
  /* width: fit-content; */
  ;
}

.resultRow {
  display: grid;
  border-radius: 3px;
  font-weight: bold;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr 50px;
  grid-template-rows: auto;
  grid-column-gap: 3px;
  /* background-color: aquamarine; */
  /* width: fit-content; */
  /* display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr 50px;
  grid-template-rows: auto;
  grid-column-gap: 3px;
  border-radius: 3px;
  font-weight: bold; */
}
.weight {
  grid-template-columns: 80px 1fr 50px 1fr 1fr 50px;
}
.weight>.resultColumn {
  min-width: 40px;
}

.resultColumn {
  /* background-color: #f7fff7; */
  border: 1px solid rgb(78, 205, 196);
  border-radius: 3px;
  grid-gap: 3px;
  min-width: 110px;
  align-items: center;
  justify-content: center;
  display: grid;
  padding: 5px;
}


.totalCarbs {
  grid-column: 5/6;
  min-width: 110px;
}

.totalCals {
  min-width: 110px;
}

.allWeight {
  grid-column: 4/5;
}

.counting1 {
  /* grid-column: 1/4; */
  /* min-width: 330px; */
  min-width: max-content;
  font-size: 26px;
}

.counting2 {
  /* grid-column: span 3; */
  /* min-width: 330px; */
  min-width: 200px;
}

.invisible {
  visibility: hidden;
}

.saveRecipe {
  /* grid-column: 4/5; */
  width: 50px;
  /* margin-bottom: 3px; */
}

.cookedLabel {
  min-width: 160px;
}
.productName {
  text-transform: capitalize;
}